@import 'src/assets/styles/colors.scss';

.header {
    position: fixed; 
    top: 0;
    transition: all .6s;
    width: 100%;
    height: 60px;
    z-index: 1000;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
    &-dark {
      background-color: $light-green;
    }
    &-light {
      background-color: white;
      box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 450px) {
  .header {
    font-size: 1em;
  }
}

.signature {
    height: 50px;
    transition: all .5s;
    cursor: pointer;
    &-green {
      position: absolute;
      left: 32px;
      opacity: 0;
    }
    &-black {
      opacity: 1;
    }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}